<html>
    <body>
        <form action="/produtos" method="post">

            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="A Cabana" placeholder="Titulo">
            </div>

            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="100" placeholder="Preço">
            </div>

            <div>
                <label for="descricao">Descricao</label>
                <textarea cols="100" rows="10" id="descricao" name="descricao" placeholder="Descricao">Livro A Cabana</textarea>
            </div>

            <input type="submit" value="Gravar">
        </form>
    </body>
</html>
